workspace $workspace2 output HDMI-1-3
workspace $workspace9 output HDMI-1-3
workspace $workspace10 output HDMI-1-3

workspace $workspace4 output HDMI-1
workspace $workspace6 output HDMI-1

workspace $workspace5 output DVI-I-1

exec_always xrandr --output HDMI-1-3 --mode 1680x1050 --pos 0x0 --rotate normal --output HDMI-1-2 --off --output VGA-1-1 --off --output HDMI-1 --primary --mode 1680x1050 --pos 1680x0 --rotate normal --output DVI-I-1 --mode 1024x768 --pos 3360x0 --rotate left --output DP-1 --off

